  </<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=divice-width, initial-scale=1">
    <title>FinHelper</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/js/popper.min.js" charset="utf-8"></script>
  </head>
  <body  class="bg-info">
    <!-- Creating the navigation section and setting its background -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <!-- Creating div for the container -->
      <div class="container-fluid">
        <!-- Setting up the logo -->
        <div class="navbar-brand">
          <img src="/img/sap.png" alt="SAP logo" style="width:100px;">
          <span class="text-align-center">FinHelper</span>
        </div>

        <!-- Creating div for search bar destination -->
        <div id="dest"></div>
        <!--Closing div for search bar destination -->

        <!-- Creating the button which will appear while resizing -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Creating the div for items in list form -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"> Sign In
                <!--<button type="button" name="button">Sign In</button>-->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Add Solution
                <!--<button type="button" name="button">Ask question</button>-->
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Logout
                <!--<button type="button" name="button">Logout</button>-->
              </a>
            </li>
          </ul>
        <!-- Closing the div for items in list form -->
        </div>
      <!-- Closing div for the container -->
      </div>
    <!-- Closing the navigation section and setting its background -->
    </nav>

    <!-- Creating part is for body section -->
    <div class="bodyarea">
      <div class="input-group customDiv">
        <input type="text" class="form-control" placeholder="Search here">
        <div class="input-group-append">
          <button class="btn btn-secondary customBtn" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Closing part for body section -->

  </body>
</html>
