.customDiv{
  padding: 200px;
}

.customBtn{
  width: 50px;
}

.icon-spin {
  font-size: 1.5em;
  display: inline-block;
  animation: spin1 2s infinite linear;
}

@keyframes spin1{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(359deg)}
}

.bodyarea{
  padding: 50px;
}

.answers{
  padding:30px;
  margin-bottom: 20px;
}

.up{
  margin-right: 10px;
  height: 30px;
  width: 30px;
  align: right;
}
